<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>FetchAll</display-name>
    <servlet-name>FetchAll</servlet-name>
    <servlet-class>com.tap.servlets.FetchAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAll</servlet-name>
    <url-pattern>/FetchAll</url-pattern>
  </servlet-mapping>
  <display-name>customer</display-name>
  <welcome-file-list>
    <welcome-file>FetchAll</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCustomer</display-name>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>com.tap.servlets.AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchOne</display-name>
    <servlet-name>FetchOne</servlet-name>
    <servlet-class>com.tap.servlets.FetchOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchOne</servlet-name>
    <url-pattern>/FetchOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomer</display-name>
    <servlet-name>EditCustomer</servlet-name>
    <servlet-class>com.tap.servlets.EditCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomer</servlet-name>
    <url-pattern>/EditCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>com.tap.servlets.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
</web-app>